/* Place custom styles below */
.noticia img {
    width: 200px;
}
.listNoticia img {
    width: 250px;
    height: 120px;
}
.link {
    margin-left: 10px;
    margin-right: 10px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}
